#welcome {
  background: url("/img/img_1.png") no-repeat center;
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#body{
  height: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

}
#content {
  background: url("/img/456.gif") no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: row;
  align-items: center;

}

svg {
  z-index: 1;
  width: 50vw;
  max-width: 40rem;
  height: auto;
}


.sparkles path {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: sparkle var(--duration) var(--delay) infinite ease-in-out;
}

@keyframes sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  70% {
    transform: scale(-1, 0);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/*.text{*/
/*  background: url('/458.png');*/
/*  background-size: 400px 400px;*/
/*  background-repeat: no-repeat;*/
/*  background-position: center;*/
/*  opacity: 0.95;*/
/*  border-radius: 4px;*/
/*  height: 200px;*/
/*  width: 500px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
.text{
  background: white;
  opacity: 0.85;
  border-radius: 20px;
  height: 170px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: example;
  animation-duration: 4s;
}

/* Убираем стандартные отступы и фон */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}



@keyframes example {
  from {opacity: 0;font-size: 35px}
  to {opacity: 0.95;font-size: 40px}
}


