<div id="body" xmlns="http://www.w3.org/1999/html" *ngIf="isMobile">
  <div id="welcome" >
  <div style="display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.6;">
    <div  class="text" >
      <span style="font-family:'Lobster'!important;font-size: 45px ;">Құндыз
       <br>
        <span style="font-size: 40px">қыз ұзату</span></span>

    </div>
  </div>
    <app-music-player style="margin-left: 200px;margin-bottom: 100px"></app-music-player>

    <div class="ico">


      <img src="/img/11.png" height="50">

    </div>


  </div>

  <div class="content1">
  <div class="item">
    <span style="font-family:'vAcadei'!important;font-size: 17px;text-align: center;padding: 10px" >
       <img src="/img/455.png" style="opacity: 0.10;position: absolute;" class="rot" height="350px"/>
                ҚҰРМЕТТІ<br>
          АҒАЙЫН-ТУЫС, БАУЫРЛАР,<br>
          ҚҰДА-ЖЕКЖАТ, НАҒАШЫ-ЖИЕН,<br>
          БӨЛЕЛЕР, ДОС-ЖАРАНДАР,<br>
          КӨРШІЛЕР, ӘРІПТЕСТЕР!<br><br><br><br>
          СІЗДЕРДІ АЯУЛЫ КЫЗЫМЫЗ<br><br>
          ҚҰНДЫЗДЫҢ<br><br> ҰЗАТУ ТОЙЫНА АРНАЛҒАН
          ДАСТАРХАНЫМЫЗДЫҢ<br>
          ҚАДІРЛІ КОНАҒЫ БОЛУҒА
          ШАҚЫРАМЫЗ!

    </span>

  </div>

    <div class="item">
      <img src="/img/125.png"  style="opacity: 0.15;position: absolute;" height="550px;"/>

      <span style="font-family:'vAcadei'!important;font-size: 20px;text-align: center" >
      <span>Той салтанаты:</span><br><br>
 <span style="font-size: 25px">

           <div class="date-container">
        <div class="side-text">
            <hr>
            <span>сенбі</span>
            <hr>
        </div>
        <div class="center-text">
            <span class="month">маусым</span>
            <span class="day">21</span>
            <span class="year">2025</span>
        </div>
        <div class="side-text">
            <hr>
            <span>18:00</span>
            <hr>
        </div>
    </div>
   </span><br><br>
 <span>Мекен-жайымыз <img src="/img/geo.gif" height="20"></span><br><br>
   "GRAND ZODIAK" мейрамханасы <br><br><br>
    <span>Той иелері:</span><br><br>
     <span style="font-size: 25px">Ерлан - Жанар</span>
    </span>


    </div>
    <div class="item">
      <app-rsvp></app-rsvp>
    </div>
  </div>


</div>
<div  *ngIf="!isMobile">
  <div class="content" >
    САЙТ МОБИЛЬДІ ҚОСЫМШАДА АШЫЛАДЫ!
  </div>
</div>
