.rsvp-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  font-family:'vAcadei'!important;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rsvp-form h2 {
  text-align: center;
}

.rsvp-form form div {
  margin-bottom: 10px;
}

.rsvp-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #E4E4E3;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  font-family:'vAcadei'!important;
}

.rsvp-form button:disabled {
  background-color: #cccccc;
}
.custom-input {
  width: 95%;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
}
